<section class="container-fluid my-5">
    <div class="row">
        <div class="col-12 col-md-4 p-5 text-center">
            <h2>CALIFICACIONES</h2>
            <p class="text-start mt-4">Instalaciones</p>
            <div class="progress" role="progressbar">
                <div class="progress-bar" style="width: 95%">95%</div>
            </div>
            <p class="text-start mt-4">Precios</p>
            <div class="progress" role="progressbar">
                <div class="progress-bar" style="width: 82%">82%</div>
            </div>
            <p class="text-start mt-4">Privacidad</p>
            <div class="progress" role="progressbar">
                <div class="progress-bar" style="width: 88%">88%</div>
            </div>
            <p class="text-start mt-4">Exclusividad</p>
            <div class="progress" role="progressbar">
                <div class="progress-bar" style="width: 99%">99%</div>
            </div>
            <p class="text-start mt-4">Servicio de Alimentacion</p>
            <div class="progress" role="progressbar">
                <div class="progress-bar" style="width: 90%">90%</div>
            </div>
            <br>
            <img src="../../assets/img/relax6.jpg" alt="" class="img-fluid w-100 mt-3">
        </div>
        <div class="col-12 col-md-8">
            <div class="row">
                <h2>Atlantis Paradise Hotel</h2>
                <p>
                    Situado en el Océano Atlántico, en algún lugar hacia el exterior del Estrecho de Gibraltar. Es una isla lo suficientemente grande que entre sus instalaciones tiene la infraestructura de un hotel convencional con habitaciones con vista al mar, tanto desde la tierra como dentro del oceano; cuenta ademas con terrazas, restaurantes, discotecas, salas de cine, centro de convenciones, guarderias y el parque acuatico mas grande del mundo. 
                <br>
                    En algún lugar bajo el agua en el Atlántico, su ubicacion aparece tanto en los mapas de google maps como en los de sonar del fondo del océano.
                </p>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <img src="../../assets/img/relax1.jpg" alt=""  class="img-fluid w-100 h-100 shadow zoom">
                </div>
                <div class="col-12 col-md-6">
                    <img src="../../assets/img/relax2.jpg" alt="" class="img-fluid w-100 h-100 shadow zoom">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 col-md-6">
                    <img src="../../assets/img/relax4.jpg" alt=""  class="img-fluid w-100 h-100 shadow zoom">
                </div>
                <div class="col-12 col-md-6">
                    <img src="../../assets/img/relax5.jpg" alt="" class="img-fluid w-100 h-100 shadow zoom">
                </div>
            </div>
        </div>

    </div>
</section>
