<app-menu></app-menu>
<br><br><br><br>
<div class="container my-5">
  <div class="row">
    <div class="col-12 col-md-8">
      <h2>Registro de Reserva</h2>
      <hr />
      <form [formGroup]="formulario" (ngSubmit)="procesarDatos()"> 
        <div class="mb-3 form-check">
          <label class="form-label">Nombre Cliente: </label>
          <input 
          type="texto" 
          class="form-control" 
          formControlName="nombreCliente" />
        </div>
        <div class="mb-3 form-check">
            <label class="form-label">Apellido Cliente: </label>
            <input 
            type="texto" 
            class="form-control" 
            formControlName="apellidoCliente" />
        </div>
        <div class="mb-3 form-check">
            <label class="form-label">Telefono Cliente: </label>
            <input 
            type="number" 
            class="form-control" 
            formControlName="telefonoCliente" />
        </div>
        <div class="mb-3 form-check">
            <label class="form-label">Fecha Inicio Reserva: </label>
            <input 
            type="date" 
            class="form-control" 
            formControlName="fechaInicioReserva" />
          </div>
          <div class="mb-3 form-check">
            <label class="form-label">Fecha Final Reserva: </label>
            <input 
            type="date" 
            class="form-control" 
            formControlName="fechaFinalReserva" />
          </div>
          <div class="mb-3 form-check">
            <label class="form-label">Numero de Personas: </label>
            <input
              type="number"
              class="form-control"
              formControlName="numeroPersonas"
            />
          </div>
          <div class="mb-3 form-check">
            <label class="form-label">Nombre Habitacion: </label>
            <input 
            type="texto" 
            class="form-control" 
            formControlName="nombreHabitacion" />
          </div>
          <div class="mb-3 form-check">
            <label class="form-label">ID Habitacion: </label>
            <input 
            type="texto" 
            class="form-control" 
            formControlName="idHabitacion" />
          </div>
        <div class="mb-3 form-check">
          <label class="form-label">Costo: </label>
          <input
            type="number"
            class="form-control"
            formControlName="costo"
          />
        </div>
        <button [disabled]="formulario.invalid"
         type="submit" class="btn btn-primary w-100">Registar</button>
      </form>
    </div>
      <div class="col-12 col-md-4 align-self-center">
        <img
          src="../../assets/img/imperio2.jpg"
          alt=""
          class="img-fluid w-100"
        />
      </div>
    </div>
  </div>